API_ID=18232440
API_HASH=6e65ada395ebc5d243c6d2954992c932
BOT_TOKEN=7122510172:AAFMsGL8Hn98o9fcgxQvkVekI0Lp6aR2nhI
LOGGER_ID=-1002121629581
MONGO_DB_URI=mongodb+srv://meshoe3:meshoe3@cluster0.bvaskli.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=7155968755
STRING_SESSION=BAF6L6oAKFyraMFJb7uBYvxMNJW0XUdZySAqSO1uQhSFomIXFaXg9rajygbeweqElE5sL6fGOdjwVFJU5vyE4qLYqDaFmhguhMgW_QirkPhUGdEwnZw4iAlWkoCmZK21bKG_knRgneyjzpSEwXd2YovW5dM7FeaTb92HpatL3U2VN5plM014GpPKCrM4QFGbSEz4Gja2J5lRBiAAT7gbAVkqj5znmez-shRCBb6HlkP8-IGZrVKbmBoCYyri1Lovcm_7gOHJ0qGtVNVpocqyNx2j09lxAIG2y7zSEaiTBd2zj8Vhwme6aqM9SgFfn7gh4LLm0mG_w8AjR76A7vnkakrIhZxjRwAAAAGH7o6mAA
